---
interface Item {
  item: string;
  hours: number;
  definition: string;
}

interface Props {
  goals: string[];
  items: Item[];
}

const { goals, items } = Astro.props;

const SUM_OF_ITEMS_IN_HOURS = items.reduce((acc, curr) => acc + curr.hours, 0);
const HOURLY_RATE = 80;
const TOTAL_PRICE = SUM_OF_ITEMS_IN_HOURS * HOURLY_RATE;
const WORK_HOURS_PER_WEEK = 10;

const FORMATTED_TOTAL_PRICE = new Intl.NumberFormat("en-US", {
  style: "currency",
  currency: "USD",
  currencyDisplay: "narrowSymbol",
  maximumFractionDigits: 0,
  minimumFractionDigits: 0,
}).format(TOTAL_PRICE);
const TIMELINE_ESTIMATE_IN_WEEKS = SUM_OF_ITEMS_IN_HOURS / WORK_HOURS_PER_WEEK;
---

<div class="container">
  <h2>Table of Contents</h2>
  <ul>
    <li><a href="#goals">Goals</a></li>
    <li><a href="#work">Work</a></li>
    <ul>
      <li><a href="#definitions">Definitions</a></li>
    </ul>
    <li><a href="#details">Details</a></li>
    <li><a href="#conclusion">Conclusion</a></li>
  </ul>
  <h2 id="goals">Goals</h2>
  <ul>
    {goals.map((goal) => <li>{goal}</li>)}
  </ul>
  <h2 id="work">Work</h2>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Hours</th>
      </tr>
    </thead>
    <tbody>
      {
        items.map(({ item, hours }) => (
          <tr>
            <td>{item}</td>
            <td>{hours}</td>
          </tr>
        ))
      }
    </tbody>
    <tfoot>
      <tr>
        <th>Sum</th>
        <th>{SUM_OF_ITEMS_IN_HOURS}</th>
      </tr>
    </tfoot>
  </table>
  <br />
  <h3 id="definitions">Definitions</h3>
  <ul>
    {
      items.map(({ item, definition }) => (
        <li>
          <strong>{item}</strong>: {definition}
        </li>
      ))
    }
  </ul>
  <h2 id="details">Details</h2>
  <ul>
    <li>Work can begin once agreed to start</li>
    <li>Hours above are based on expected work</li>
    <li>
      After completion of every item, there will be a quality assurance step,
      such as making sure things are working properly
      cross-device/operating-system/browser (which is factored into hours)
    </li>
  </ul>
  <h2 id="conclusion">Conclusion</h2>
  <ul>
    <li>
      Given the provided items and hours, the estimate is:<br /><strong
        >{FORMATTED_TOTAL_PRICE}</strong
      > with a timeline of <strong>~{TIMELINE_ESTIMATE_IN_WEEKS} weeks</strong>
    </li>
    <ul>
      <li>
        It is possible new items may come up, or old items be reduced / removed
        during the construction of the project, in which hours would be adjusted
        (thus changing the price and timeline)
      </li>
      <li>
        Any adjustments would be communicated and agreed upon before going
        further to make sure we're on the same page
      </li>
    </ul>
    <li>
      Payment method, transfer, frequency, etc. can be spoken about once agreed
      to work together
    </li>
  </ul>
  <br />
</div>

<style>
  h2 {
    margin-bottom: 10px;
  }
  h2:not(:first-child) {
    margin-top: 20px;
  }
  thead,
  tfoot {
    background-color: var(--colors-secondary);
    color: black;
    font-weight: 600;
  }

  tr {
    text-align: left;
  }

  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 8px;
  }

  ul {
    margin-left: 2em;
  }
</style>
