---
const ITEMS = [
  { item: "Structure", hours: 8 },
  { item: "Content", hours: 7 },
  { item: "Audio Controls", hours: 10 },
  { item: "Lyrics", hours: 15 },
  { item: "Aesthetics", hours: 10 },
  { item: "Polish", hours: 10 },
];

const SUM_OF_ITEMS_IN_HOURS = ITEMS.reduce((acc, curr) => acc + curr.hours, 0);
const HOURLY_RATE = 80;
const TOTAL_PRICE = new Intl.NumberFormat("en-US", {
  style: "currency",
  currency: "USA",
  currencyDisplay: "narrowSymbol",
  maximumFractionDigits: 0,
  minimumFractionDigits: 0,
}).format(SUM_OF_ITEMS_IN_HOURS * HOURLY_RATE);
const TIMELINE_ESTIMATE_IN_WEEKS = SUM_OF_ITEMS_IN_HOURS / 10;
---

<div class="container">
  <h2>Goals</h2>
  <ul>
    <li>
      Allow people to listen to the album regardless of device, operating
      system, or browser
    </li>
    <li>
      Lyric functionality for every track that follows audio of track in
      realtime
    </li>
  </ul>
  <h2>Work</h2>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Hours</th>
      </tr>
    </thead>
    <tbody>
      {
        ITEMS.map(({ item, hours }) => (
          <tr>
            <td>{item}</td>
            <td>{hours}</td>
          </tr>
        ))
      }
    </tbody>
    <tfoot>
      <tr>
        <th>Sum</th>
        <th>{SUM_OF_ITEMS_IN_HOURS}</th>
      </tr>
    </tfoot>
  </table>
  <br />
  <h3>Definitions</h3>
  <ul>
    {ITEMS.map(({ item }) => <li>{item}: ???</li>)}
  </ul>
  <h2>Details</h2>
  <ul>
    <li>I can begin work on this once we agree to start</li>
    <li>Hours are determined based on work, our meetings, and inuition</li>
    <li>
      After completion of every item, there will be a quality assurance step,
      such as making sure things are working properly
      cross-device/operating-system/browser (which is factored into hours)
    </li>
  </ul>
  <h2>Conclusion</h2>
  <ul>
    <li>
      Given the provided items and hours, the total price is <strong
        >~{TOTAL_PRICE}</strong
      > with a timeline of <strong>~{TIMELINE_ESTIMATE_IN_WEEKS} weeks</strong>
    </li>
    <ul>
      <li>
        It is possible new items may come up, or old items be reduced / removed
        during the construction of the project, in which hours would be adjusted
        (thus changing the price and timeline)
      </li>
    </ul>
    <li>
      Payment method, transfer, frequency, etc. can be spoken about once agreed
      to work together
    </li>
  </ul>
  <br />
</div>

<style>
  h2 {
    margin-bottom: 10px;
  }
  h2:not(:first-child) {
    margin-top: 20px;
  }
  thead,
  tfoot {
    background-color: var(--colors-secondary);
    color: black;
    font-weight: 600;
  }

  tr {
    text-align: left;
  }

  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 8px;
  }

  ul {
    margin-left: 2em;
  }
</style>
