---
import "../styles/1-globals.css";
import "../styles/2-variables.css";
import "../styles/3-defaults.css";

const TITLE = "bonny systems";
const DESCRIPTION = "a studio that builds beautiful software—inside and out";

const { subtitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={DESCRIPTION} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{TITLE}{subtitle && ` | ${subtitle}`}</title>
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={TITLE} />
    <meta property="og:description" content={DESCRIPTION} />
    <meta property="og:url" content="https://bonny.systems" />
    <meta property="og:site_name" content={TITLE} />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
