---
import PricingCard from "../components/PricingCard.astro";
import { PRICING_PLANS } from "../constants/pricing";
import PageLayout from "./PageLayout.astro";

PRICING_PLANS["fresh"].setupFee = 200;
PRICING_PLANS["fresh"].monthlyCost = 25;
PRICING_PLANS["modern"].setupFee = 400;
PRICING_PLANS["modern"].monthlyCost = 50;
PRICING_PLANS["pro"].setupFee = 800;
PRICING_PLANS["pro"].monthlyCost = 75;

function mapDesignScoreToClassName(score: number) {
  let className = " ";
  if (score > 0 && score <= 49) return (className += "red");
  if (score > 49 && score <= 89) return (className += "orange");
  return (className += "green");
}

const { frontmatter } = Astro.props;
const title = frontmatter.website_url ? "preliminary audit" : "plan evaluation";
const plan = frontmatter.recommended_pricing_plan as keyof typeof PRICING_PLANS;
---

<PageLayout forceHideSubtitleText subtitle={`${title} for ${frontmatter.name}`}>
  <div class="container">
    <header>
      <div>
        <h2 class="header-text">
          {title}
        </h2>
        <h3>name: {frontmatter.name}</h3>
        {
          frontmatter.website_url && (
            <h3>
              website:{" "}
              <a href={frontmatter.website_url} target="_blank">
                {frontmatter.website_url}
              </a>
            </h3>
          )
        }
      </div>
      <a class="top-cta" href="tel:8622390100">contact us</a>
    </header>
    {
      frontmatter.scores && (
        <div>
          <div class="score-container">
            {Object.entries(frontmatter.scores.desktop).map(([key, value]) => (
              <div class={`score${mapDesignScoreToClassName(value as number)}`}>
                <div>
                  <h3>{value}</h3>
                </div>
                <p>
                  <h3>{key}</h3>
                </p>
              </div>
            ))}
          </div>
          <em style="font-size: 0.9em;float: right">
            *scores are reflected for the website on desktop, not mobile
          </em>
        </div>
      )
    }
    <div class="text-container">
      <h2 style="padding-bottom: 8px">
        <span class="miniaturized-text">we recommended the</span>
        <span class="bonny-text rhythm-text">{PRICING_PLANS[plan].title}</span>
        <span class="miniaturized-text">plan</span>
      </h2>
      <PricingCard {...PRICING_PLANS[plan]} />
      <p style="padding-top: 8px">
        <strong class="enlarged-text"
          ><a href="tel:8622390100">call us today</a></strong
        > to start the process of {
          frontmatter.website_url ? "revamping" : "creating"
        } your website!
      </p>
    </div>
    <hr />
    <footer>
      <div>
        <p>
          why <strong>you</strong> should have a website:
          <a href="/blog/why-websites-matter"
            >bonny.systems/blog/why-websites-matter</a
          >
        </p>
        <p>
          learn about bonny systems:
          <a href="/about">bonny.systems/about</a>
        </p>
        {
          frontmatter.website_url ? (
            <p>
              how we score websites:{" "}
              <a href="/scoring">bonny.systems/scoring</a>
            </p>
          ) : (
            <p>
              websites worked on: <a href="/works">bonny.systems/works</a>
            </p>
          )
        }
      </div>
      <div>
        <h3>
          <span class="bonny-text">bonny</span>
          <span class="systems-text">systems</span>
        </h3>
        <address>
          <a href="tel:8622390100">862-239-0100</a>
          <span>1545 Alps Road, Wayne NJ 07470</span>
        </address>
      </div>
    </footer>
  </div>
</PageLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    max-width: 700px;
  }
  header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
  }
  .top-cta {
    border: 2px solid var(--colors-light);
    border-radius: 4px;
    font-weight: 700;
    padding: 8px;
    font-size: 1.6em;
    text-decoration: none;
  }
  .header-text {
    font-family: "Rhythm";
    font-size: 1.7em;
    font-weight: 500;
    color: var(--colors-dark);
  }
  .score-container {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
  .score {
    max-width: 120px;
    text-align: center;
  }
  .score div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 50%;
  }
  .red {
    color: rgb(208, 0, 0);
  }
  .red div {
    border-color: rgb(208, 0, 0);
  }
  .orange {
    color: rgb(255, 175, 25);
  }
  .orange div {
    border-color: rgb(255, 175, 25);
  }
  .green {
    color: var(--colors-secondary);
  }
  .green div {
    border-color: var(--colors-secondary);
  }
  .score h3 {
    font-size: 1.2em;
  }
  .enlarged-text {
    font-size: 1.2em;
  }
  .miniaturized-text {
    font-size: 0.8em;
  }
  .text-container {
    font-size: 1.2em;
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1.1em;
  }
  footer div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  footer div:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  footer div h3 {
    font-family: "Rhythm";
    font-size: 1.8em;
    font-weight: 500;
  }
  footer div address {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
</style>
